include README.md
include requirements.txt
recursive-include integracion *.py
recursive-include integracion *.json
recursive-include integracion *.html
recursive-include integracion *.css
recursive-include integracion *.js
recursive-include integracion *.txt
